body {
	font: 75%/1.5 Arial, Helvetica, sans-serif; /*12px*/
	color: #666;
	max-width: 790px;
	margin: 0px auto;
}

a:hover{
	color:#66FF66;
}

h1{ 
	font-size: 2em; /*32px*/
	text-shadow: 3px 3px 3px #838B8B;
	float: left;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
}	

p {
	font-family: 'Quicksand', Arial, Helvetica, sans-serif;
	color: #000;
}

ul li a:link{
	color:#000;
	text-decoration: none;
	
}
ul li a{
	padding: 20px 20px;
}
ul li a:visited{
	color:#000;
	text-decoration: none;
}

ul li a:hover{
	color:#fff;
	text-decoration: none;
	background-color: #DD7500;
}

ul li a:active{
	color:#fff;
	text-decoration: none;
	background-color: #DD7500;
}

ul li {
	padding: 0px 10px;
	background-color: #fff;
	display: inline;
}

#characterList{
	float: left;
	margin: 0 auto;
    padding: 0px;
    overflow:hidden;
}

#characterList li{
	display: block;
}

#calltoaction{
	background-color: #E0FFFF;
	clear: left;
}

span{
	-ms-opacity: 0.25;
	-moz-opacity: 0.25;
	-webkit-opacity: 0.25;
	-o-opacity: 0.25;
	opacity: 0.25;
}

.imgGallery img{
	border: 5px solid #000;
	margin: 1.818182%;
	float: left;
	width: 225px;/*225px*/
	height: 138px;/*138px*/
}

#historyWrapper{
	background-color: #EEE5DE;
	clear: both;
	margin: 0 auto;
	padding: 0;
}

#multicolumn{
	-moz-column-count:4;
	-moz-column-gap: 2.531646%; /*20px*/
	padding: 3.164557%; /*25px*/
	margin: 0;
}

/* = Join Now Button
=========================================================================================*/

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 0.875em/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.button:hover {
	text-decoration: none;
}

.button:active {
	position: relative;
	top: 1px;
}

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}

.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

/* = End Button
=========================================================================================*/

ul{
	display: block;
	list-style-type: square;
	float:right;
}

#mainImage{
	border: 2px solid #444;
	width: 37.974684%; /*300px*/
	float:left;
}

img{
	max-width: 100%;
}

#mainSection{
	float:left;
	width: 56.962025%;/*450px*/
	margin-left: 1.265823%/*10px*/
}

#clearFix{
	clear: both;
}

footer{
	font: 125%/2 Arial, Helvetica, sans-serif; /*12px*/
	color: #fff;
	background-color:black;
	padding: 0px;
	margin: 0px;
}

footer img{
	width: 4.43038%; /*35px*/
	height: 4.43038%; /*35px*/
	padding: 0px 10px 0 10px;
}

#galleryWrapper{
	width:100%;
	margin: 0 auto;
	overflow: hidden;
	background: #fff;
}

section{
	float: left;
	width: 69.620253%; /*550px*/
}

aside{
	float:left;
	margin-left: 1.265823em; /*10px*/
	width: 25.316456%; /*240px*/
}

/* = Table
=========================================================================================*/
table{
	width: 55%;
	border: 2px solid #444;
	border-collapse: collapse;
	margin-bottom: 10px;
}

th{
	background: #e5e3e3;
	border-bottom: 2px solid #444;
}

tr{
	text-align: center;
}

td{
	border-bottom: 1px solid #444;
}

.odd_row{
	background: #eff3c4;
}




/* = End Table
=========================================================================================*/

/* = Form
=========================================================================================*/





/* = End Form
=========================================================================================*/

/* = Media Queries
=========================================================================================*/

/* Tablet Portrait Size to Standard 790 (devices and browsers) */
@media screen and (min-width:768px) and (max-width: 789px)
{
	body {font: 65%/1.5 Arial, Helvetica, sans-serif;}
	#multicolumn{padding: 2.164557%; /*20px*/}
	#mainImage{width: 25.316456%; /*200px*/}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width:480px) and (max-width: 767px)
{
	section, aside{float:none; width:60%;}
	#multicolumn{-moz-column-count:2;}
	#mainImage{width: 18.987342%; /*150px*/}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px)
{
	#mainImage{display:none;}
	section, aside{float:none; width:40%;}
	#multicolumn{-moz-column-count:1;}
	footer{display:none;}
	ul{float:left;}
}

/* = End Media Queries
=========================================================================================*/